@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,300;0,500;0,700;1,200;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }



  body {
    font-family: 'Urbanist', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: whitesmoke;
  }

  button {
    padding: 10px 15px;
    margin-top: 15px;
    color: white;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    align-items: center;
  }

  button :hover {
    padding: 10px 15px;
    margin-top: 15px;
    color: white;
    background: #45456E;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    align-items: center;
  }
  
  ul {
    list-style-type: none;
  }
  
  .container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 30px;
  }
  
  .navbar {
    background: #87AD56;
    color: #fff;
    height: 60px;
    text-transform: uppercase;
  }

  .navbar .logo {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .navbar img {
    width: 300px;
  }

  
  .navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    
      
  }
  
  .navbar a:hover {
    color: #45456E;
  }
  
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .navbar ul {
    display: flex;
  }
  
  .navbar ul li {
    margin-left: 20px;
  }

  /* navbar responsive 

  .navbar-toggle {
    display: none;
  }
  
  .navbar-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .navbar-toggle-label span {
      font-size: 1.5em;
    }

    .navbar-toggle:checked ~ nav {
        transform: scale(1,1);
      }
      
      .navbar-toggle:checked ~ nav a {
        opacity: 1;
        transition: opacity 250ms ease-in-out 250ms;
      }
      */


/* hero */

  .header {
    background-image:url(images/hero.png);
    color: #fff;
    height: 550px;
    background-size: cover;
    position: relative;
    justify-content: center;
  }
  
  .header h1 {
    font-weight: bold;
    text-transform:uppercase;
    line-height: 1.5;
    text-align: center;
  }
  
  
  .header .container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    height: 700px;
  }

  .header p {
    max-width: 510px;
    text-align: center;
  }

  .header button {
    background: #F8CE63;
    justify-content: center;
    text-align: center;
  }

  .header button:hover {
    text-align: center;
    background: #87AD56;
  }

/* first cards section */

  .cards .container {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
  }
  
  .card {
    flex: 1;
    background: whitesmoke;
    color: #333;
    margin: 20px 10px;
    padding: 15px 20px;
  }

  .card h2 {
    text-transform: uppercase;
    text-align: left;
    
  }

  .card p {
    max-width: 300px;
    text-align: left;
    align-items: center;
  }

  .card button {
    display: flex;
    justify-content: center;
    background: #D64F24;
    border: none;
    
  }

  .card button:hover {
    background: #45456E;
  }


/* video */



.video h2 {
  text-transform: uppercase;
  text-align: left;
  margin-left: 10%;
}


iframe {
  
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  
}

/* blog card section */

.blog .container {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  text-align: left;
}



.blog-card {
  padding: 10px;
  margin: 10px;
  background:#45456E;
  color:#fff;
  max-width: 470px;
  text-align: left;
}

.blog-card h2 {
  margin: 5px;
  text-transform: uppercase;
}

.blog-card button {
  background:#87AD56;
  text-align: center;
  margin-top: auto;
}

.blog-card button:hover {
  background: #F8CE63;
  text-align: center;
  margin-top: auto;
}

.blog-card img {
  object-fit: cover;
}


  /* find support section */

.container-support {
        max-width: 1900px;
        margin: auto;
        overflow: auto;
        padding: 2rem;
}

.container-support h1 {
  text-transform: uppercase;
  font-size: 22pt;
  padding: 10px;
}


.card-link {
  display: flex;
  background: white;
  margin-left: 2rem;
  color: black;
  padding: 2em;
}

.card-link h2 {
display:flex;
margin: 10px;


}

.card-link img {
  width: 50%;
  height: 300px;
  object-fit: cover;
}

.card-link a {
  display: flex;
  width:150px;
  background: #D64F24;
  color: white;
  padding: 8px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  margin-top: auto;
  margin-left: 10px;
}


.card-link a:hover {
  background:#F8CE63;
  color: #fff;
}

@media(max-width: 700px) {
  .card-link {
    display:block;
  } 
  
}





  /* responsive */

  @media (max-width: 768px) {
    .header .container {
      flex-direction: column;
      padding-top: 20px;
      text-align: center;
    }
  
    .cards .container {
      display: block;
      text-align: center;
    }
  }



  /* Footer */

footer {
  background: #87AD56;
  color: white;
  text-align: left;
  padding: 1em;
  margin-top: 60px;
}

.footer .logo {
  margin-left: 20px;
}

.footer-id {
  display: flex;
  gap: 10px;
  font-size: 10px;
  line-height: 17px;
}


.footer-content {
  display: flex;
  justify-content: space-evenly;
}


.bottom-social i {
  font-size: 25px;
  color: white;
  line-height: 35px;
}


.copyright p {
  text-align: center;
  font-size: 10px;
}

